.exercise {
  margin-top: 1em;
  border: 1px solid #040207;
  padding: 2em;
  width: fit-content;
  border-radius: 1em;
}

.exerciseTitle {
  width: 600px;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.sets {
  margin-top: 2em;
}

.exerciseSet {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
  }
}

.exerciseNewSet {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 200px 100px;
  column-gap: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2em;

  :last-child {
    margin-left: .5em;
  }
}
