.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: .4em;
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 38px;
}

.date {
  color: #617382;
}

.exerciseSearch {
  margin-top: 2em;
}

.exerciseInput {
  width: 300px;
}

.exercisesResult {
  position: absolute;
  padding: 1em;
  border: 1px solid #617382;
  border-radius: 12px;
  background-color: #fff;

  &__resultItem {
    width: 100%;
    padding: .5em;
    display: flex;
    justify-content: flex-start;
    border-radius: 12px;

    &:hover {
      background-color: #dce0e8;
    }

    &:active {
      background-color: #a3adbd;
    }
  }
}

.exercises {
  margin-top: 20px;
}

.exercise {
  margin-top: 1em;
  border: 1px solid #040207;
  padding: 2em;
  width: fit-content;
  border-radius: 1em;
}

.exercisesListTitle {
  font-size: 25px;
}

.sets {
  margin-top: 2em;
}

.exerciseTitle {
  width: 600px;
  padding: .5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}

.exerciseSets {
  display: grid;
  row-gap: 1em;
}

.exerciseSet {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
  }
}

.exerciseNewSet {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 200px 100px;
  column-gap: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2em;

  :last-child {
    margin-left: .5em;
  }
}
