.wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-top: 2em;
}

.workouts {
  display: grid;
  row-gap: 1em;
}

.workoutItem {
  display: grid;
  grid-template-columns: 1fr 38px;
  column-gap: 15px;
  align-items: center;
  width: 600px;
  padding: .75em 1em .5em;
  border-radius: 12px;

  &:hover {
    background-color: #dce0e8;
  }

  &:active {
    background-color: #a3adbd;
  }
}
