.workoutItem {
  display: grid;
  grid-template-columns: 1fr 38px;
  column-gap: 15px;
  align-items: center;
  width: 600px;
  padding: .75em 1em .5em;
  border-radius: 12px;

  &:hover {
    background-color: #dce0e8;
  }

  &:active {
    background-color: #a3adbd;
  }
}
